<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FoodStop</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="/static/foodstop/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/foodstop/css/agencyunmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/foodstop/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FoodStop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#services">Order</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="/services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font color="#fed136">FoodStop</font></div>
                <div class="intro-lead-in"><font color="#ffffff">campus delivery</font></div>
                <div><br><br></div>
                <!--<a href="http://foodstop3.peatix.com" class="page-scroll btn btn-xl">Order Now</a>-->
                <!--<div class="btn btn-xl disabled">Closed</div>-->
                
            </div>
        </div>
    </header>

    <!-- Services Section
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Campus Food Delivery</h2>
                    <h3 class="section-subheading text-muted">Have your favorite campus food available at the click of a button.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <h1 class="service-heading"><a href="https://www.facebook.com/events/1712603752352338/">Order Whey Today</a></h1>
                    <p class="text-muted">Click the link above to order food right now!</p>
                </div>
            </div>
        </div>
    </section>
-->

    <!-- Hours of Operation Section
    <section id="hours">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">This week's Hour of operations</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">The Whey Station</h3>
                    <h6><span style="font-weight:normal;">Thursday - Saturday&nbsp;&nbsp;||&nbsp;&nbsp;11PM - 1AM</span></h6>
                    <h3 class="section-heading">Summerfields</h3>
                    <h6><span style="font-weight:normal;"><i>To be announced</i></span></h6>
                    <h3 class="section-heading">Weswings</h3>
                    <h6><span style="font-weight:normal;"><i>To be announced</i></spam></h6>
                </div>
            </div>
        </div>
    </section>
    -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FoodStop?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-xs-offset-2 text-center">
                    <p class="large">
                    FoodStop looks to bring food to your doorstep through a peer-to-peer college campus based delivery system geared towards enhancing efficiency and fostering trust.<br><br>
                    In the Spring of 2016, FoodStop officially launched its services, teaming up with Jillian and Joshua Moskites to offer Whey Station delivery to all parts of the Wesleyan campus for three weekends.<br><br>
                    FoodStop plans to return Fall 2016 with an expanded arsenal of delivery options, including, but not limited to, locations such as Summerfields and WesWings.<br><br>
                    We look forward to seeing you in the fall.
                    </p>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
    </section>
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">FoodStop 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>-->
                        <li><a href="https://www.facebook.com/wesstop/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>-->
                    </ul>
                </div>
                <!--<div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/foodstop/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/foodstop/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/foodstop/js/classie.js"></script>
    <script src="/static/foodstop/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/foodstop/js/jqBootstrapValidation.js"></script>
    <script src="/static/foodstop/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/foodstop/js/agency.js"></script>

</body>

</html>
